<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="co.thingthing.sample.sdksample">

	<application
		android:allowBackup="true"
		android:icon="@mipmap/ic_launcher"
		android:label="@string/app_name"
		android:roundIcon="@mipmap/ic_launcher_round"
		android:supportsRtl="true"
		android:theme="@style/AppTheme">
		<activity
			android:directBootAware="true"
			android:exported="true"
			android:name="co.thingthing.sample.sdksample.MainActivity"
			android:windowSoftInputMode="adjustResize">

			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<service
			android:exported="true"
			android:name="co.thingthing.sample.sdksample.SampleKeyboardService"
			android:directBootAware="true"
			android:permission="android.permission.BIND_INPUT_METHOD">
			<intent-filter>
				<action android:name="android.view.InputMethod" />
			</intent-filter>

			<meta-data
				android:name="android.view.im"
				android:resource="@xml/method" />
		</service>

		<provider
			android:authorities="${applicationId}.fileprovider"
			android:exported="false"
			android:grantUriPermissions="true"
			android:name="androidx.core.content.FileProvider">
			<meta-data
				android:name="android.support.FILE_PROVIDER_PATHS"
				android:resource="@xml/file_paths" />
		</provider>

	</application>

</manifest>
