//
//  Shared.xcconfig
//  FleksyKeyboardSDKApp
//
//  Copyright © 2022 Thingthing,Ltd. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

APP_VERSION = 1.0
APP_BUILD = 1
BASE_APP_BUNDLE_ID = thingthing.FleksySDK
BASE_APP_GROUP_NAME = group.thingthing.fleksysdk


// Do not add sensitive information here
